<h2 style="color: coral;">Contact US</h2>
<br />
<ul>
  <li>
    HEAD OFFICE – Amazon India LIMITED Office Address 3, Alipore Road, Kolkata
    700 027 Telephone 033-3041 2100 Website- www.Amazon.in
  </li>
  <li>
    CORPORATE OFFICE – LINC PEN & PLASTICS LIMITED. Office Address 403 / 404
    Tanishka Building, Akruli Road, Kandivali (E), Mumbai – 400101 Telephone
    022-61949 100 / 022 6692 4155 Fax 022-6694 2963 Email
    <Amazon@helpdesk class="in"></Amazon@helpdesk>
  </li>
</ul>
